{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
    	{% if not user.is_authenticated %}
		    <h1>Login / Register to start Journaling!</h1>
    	{% else %}
	    	<h2> Wassup {{ user.first_name }} !</h2>
			<form method="post" action="{% url 'journals:entry' %}">
			          {% csrf_token %}
			          {# Ask for journal entry #}
			          <label for="Journal entry">Entry:</label>
			          <input type="text" name="entry" placeholder="Wassup !">
			<input type="submit" name="" value="Submit">
			</form>
			</div>
			  </div>
    	{% endif %}
{% endblock %}